In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib as mpl
import numpy as np
import seaborn as sns

In [5]:
red_wines = pd.read_csv("dataset/winequality-red.csv", sep=";")
white_wines = pd.read_csv("dataset/winequality-white.csv", sep=";")

In [8]:
red_wines["wine_type"] = "red"
white_wines["wine_type"] = "white"

In [10]:
def encode_quality(quality):
    if quality < 5:
        return "low"
    elif quality < 7:
        return "medium"
    return "high"


red_wines["quality_label"] = pd.Categorical(red_wines["quality"].apply(encode_quality), categories=["low", "medium", "high"], ordered=True)
white_wines["quality_label"] = pd.Categorical(white_wines["quality"].apply(encode_quality), categories=["low", "medium", "high"], ordered=True)

In [25]:
wines = pd.concat([red_wines, white_wines], ignore_index=True)
wines = wines.sample(frac=1, random_state=42)
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type,quality_label
3103,7.0,0.17,0.74,12.8,0.045,24.0,126.0,0.99420,3.26,0.38,12.2,8,white,high
1419,7.7,0.64,0.21,2.2,0.077,32.0,133.0,0.99560,3.27,0.45,9.9,5,red,medium
4761,6.8,0.39,0.34,7.4,0.020,38.0,133.0,0.99212,3.18,0.44,12.0,7,white,high
4690,6.3,0.28,0.47,11.2,0.040,61.0,183.0,0.99592,3.12,0.51,9.5,6,white,medium
4032,7.4,0.35,0.20,13.9,0.054,63.0,229.0,0.99888,3.11,0.50,8.9,6,white,medium

In [45]:
subset_attributes = ['residual sugar', 'total sulfur dioxide', 'sulphates', 'alcohol', 'volatile acidity', 'quality']
subset_attributes2 = ['alcohol', 'volatile acidity', 'pH', 'quality']

In [43]:
wines.where(wines["wine_type"] == "red")[subset_attributes].describe()

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,2.538806,46.467792,0.658149,10.422983,0.527821,5.636023
std,1.409928,32.895324,0.169507,1.065668,0.179060,0.807569
min,0.900000,6.000000,0.330000,8.400000,0.120000,3.000000
25%,1.900000,22.000000,0.550000,9.500000,0.390000,5.000000
50%,2.200000,38.000000,0.620000,10.200000,0.520000,6.000000
75%,2.600000,62.000000,0.730000,11.100000,0.640000,6.000000
max,15.500000,289.000000,2.000000,14.900000,1.580000,8.000000

In [44]:
wines.where(wines["wine_type"] == "white")[subset_attributes].describe()

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.391415,138.360657,0.489847,10.514267,0.278241,5.877909
std,5.072058,42.498065,0.114126,1.230621,0.100795,0.885639
min,0.600000,9.000000,0.220000,8.000000,0.080000,3.000000
25%,1.700000,108.000000,0.410000,9.500000,0.210000,5.000000
50%,5.200000,134.000000,0.470000,10.400000,0.260000,6.000000
75%,9.900000,167.000000,0.550000,11.400000,0.320000,6.000000
max,65.800000,440.000000,1.080000,14.200000,1.100000,9.000000

In [46]:
wines.where(wines["quality_label"] == "low")[subset_attributes2].describe()

          alcohol  volatile acidity          pH     quality
count  246.000000        246.000000  246.000000  246.000000
mean    10.184350          0.465163    3.234797    3.878049
std      0.999035          0.245677    0.191313    0.327897
min      8.000000          0.110000    2.740000    3.000000
25%      9.400000          0.280000    3.090000    4.000000
50%     10.050000          0.380000    3.225000    4.000000
75%     10.900000          0.610000    3.360000    4.000000
max     13.500000          1.580000    3.900000    4.000000

In [47]:
wines.where(wines["quality_label"] == "medium")[subset_attributes2].describe()

           alcohol  volatile acidity           pH      quality
count  4974.000000       4974.000000  4974.000000  4974.000000
mean     10.265275          0.346423     3.215346     5.570165
std       1.070626          0.165660     0.159461     0.495102
min       8.000000          0.080000     2.720000     5.000000
25%       9.400000          0.230000     3.110000     5.000000
50%      10.000000          0.300000     3.200000     6.000000
75%      11.000000          0.420000     3.320000     6.000000
max      14.900000          1.330000     4.010000     6.000000

In [48]:
wines.where(wines["quality_label"] == "high")[subset_attributes2].describe()

           alcohol  volatile acidity           pH      quality
count  1277.000000        1277.00000  1277.000000  1277.000000
mean     11.433359           0.28917     3.227651     7.158966
std       1.215620           0.11696     0.159094     0.376348
min       8.500000           0.08000     2.840000     7.000000
25%      10.700000           0.20000     3.120000     7.000000
50%      11.500000           0.27000     3.220000     7.000000
75%      12.400000           0.34000     3.340000     7.000000
max      14.200000           0.91500     3.820000     9.000000